.Sagas-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}


.card {
    width: 250px;
    border-radius: 15px;
    padding: 15px;
    text-align: center;

    background: linear-gradient(135deg, #000000c6, #320101);
    color: white;
}


.card-image {
    width: 100%;
    height: 180px;
    object-fit:cover;
    border-radius: 10px;
    margin-bottom: 10px;
}


.card-ul {
    padding: 0;
    margin-top: 10px;
}


.card-ul li {
    background: rgba(255, 255, 255, 0.1);
    list-style: none;
    margin: 5px 0;
    padding: 5px;
    border-radius: 8px;
}


/*Responsive*/

@media (max-width:768px) {
    .Sagas-card{
       width: 80%;
    }

}